.api-list {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.api-list .label {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 9px;
}

.api-item {
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    mask: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.api-item:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.api-item .get {
  background: rgba(159, 50, 255, .3);
  color: #AD4EFF;
}

.api-item .post {
  background: rgba(0, 255, 47, .3);
  color: #37B26C;
}